:root {
    --button-bg: #ff69b4;
    --button-bg-hover: #ff2693;
    --button-padding: 10px 20px;
    --button-text-color: white;
    --modal-bg-color: rgba(0, 0, 0, 0.5);
    --modal-content-bg: #fff;
    --modal-width: 400px;
    --size-viewport: 85%;
    --color-heart: #ff69b4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: var(--button-padding);
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--button-text-color);
    background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 150px;
}

button:hover {
    background-color: var(--button-bg-hover);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 20px;
}

#game-over-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#final-score {
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}

#hearts-pippin {
    transform: translateX(-50%);
    position: absolute;
    left: 70%;
    top: 0;
    min-height: 200px;
    z-index: 1000;
}

.hearts {
    min-width: 170px;
    min-height: 300px;
    max-height: 330px;
}

.heart {
    background-color: var(--color-heart);
    position: absolute;
    height: 40px;
    min-height: 15px;
    width: 40px;
    min-width: 15px;
    opacity: 0;
    cursor: pointer;
    -webkit-mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
    mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
    mask-position: bottom;
    animation: floating-heart 10s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.heart:nth-child(1) {
    animation-delay: 1s;
}

.heart:nth-child(2) {
    animation-delay: 2.5s;
}

.heart:nth-child(3) {
    animation-delay: 3.5s;
}

.heart:nth-child(4) {
    animation-delay: 4.5s;
}

.heart.popping {
    animation: pop 0.3s ease forwards;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mynerve", cursive;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

#name-form {
    display: none;
}

#player-name-input {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 1em;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#player-name-input:focus {
    border-color: #ff69b4;
    outline: none;
}

.links-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links-container a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.links-container a:hover {
    background-color: #ff2693;
}

.links-container svg {
    fill: #ff69b4;
    width: 100%;
    height: 100%;
    transition: fill 0.3s ease;
}

.links-container a:hover svg {
    fill: white;
}

#timer-display, #top-score-display {
    display: none;
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin: 10px;
    position: absolute;
    top: 60px;
    left: 0;
}

#top-score-display {
    font-size: 1.5em;
    top: 0;
    left: 0;
    display: block;
    text-align: left;
    margin: 5px 10px 0;
    padding: 0;
}

#top-score-display .username {
    display: block;
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .content {
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 10px;
    }
}

@keyframes floating-heart {
    0% {
        opacity: 0;
        bottom: 0%;
        left: 0%;
    }
    10% {
        opacity: 1;
        bottom: 20%;
        left: 70%;
    }
    20% {
        bottom: 40%;
        left: 10%;
    }
    30% {
        bottom: 60%;
        left: 50%;
    }
    40% {
        opacity: 1;
        bottom: 80%;
        left: 5%;
    }
    48% {
        opacity: 0;
        bottom: 100%;
        left: 60%;
    }
    100% {
        opacity: 0;
        bottom: 100%;
        left: 90%;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
